html,body {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

#target {
  max-width: 1050px;
}

.local {
  letter-spacing: 0.5px;
	font-size: 12px;
}

div.tabulator-header-filter>input {
  background-color: white!important;
}

.hide {
  display: none;
}

/* input text */
.cp_iptxt {
	width: 80%;
	margin: 20px 0;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 1em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}
.lb_iptxt {
  letter-spacing: 0.5px;
	font-size: 12px;
}


/* submit button */
.submit_button {
  position: relative;
  width: 150px;
  padding: .5em 2em;
  border: 1px solid #2589d0;
  border-radius: 5px;
  background-color: #2589d0;
  color: #fff;
  font-size: 1em;
}

.submit_button:hover {
  animation: anima-submit_button 1s;
}

@keyframes anima-submit_button {
  0% {
    box-shadow: 0 0 0 0 rgb(37 137 208 / 50%);
  }
  100% {
    box-shadow: 0 0 0 1.2em rgb(0 0 0 / 0%);
  }
}